<h2>Create a team</h2>
<% form_for @team, :url => teams_path, :html => {:method => :post} do |f| %>
  
  <%= render :partial => 'teams/form', :locals => {:f => f} %>
  
  <%= f.submit "Register Team" %>
  
<% end %>

<%= link_to '[Back]', root_path %>