body {
  background: inherit;
}

#container {
  border-right: 0;
}

.header {
  display: none;
}

#footer {
  display: none;
}

#right {
  display: none;
  visibility: collapse;
}

div.main {
  border-right: 0;
  width: 100%;
}
