fieldset {
  border: none;
  border-left: 5px solid #f5f5f5;
  border-right: 5px solid #f5f5f5; /*  padding: 0;*/
  background: #fafafa;
}

fieldset:hover {
  background-image: url(/images/fieldsetback.png); /*background-repeat: repeat-y;*/
/*background: #e6eded;*/
}

fieldset legend {
  font-size: 1.5em;
}

fieldset input {
  width: auto;
}

fieldset fieldset label {
  float: none;
  width: auto;
  margin-right: auto;
}

fieldset fieldset legend {
  margin-left: 0;
  font-size: 1em;
}

fieldset fieldset {
  padding: 0;
  border-style: none;
  background-color: transparent;
  background-image: none;
}

body {
  margin: 0;
  padding: 0;
  background: #f1f1f1;
}

.header {
  height: 60px;
  border-bottom: solid #505050 4px;
  width: auto;
  background: #fff;
  position: relative;
  padding: 0 10px;
}

.fieldWithErrors {
  padding: 2px;
  margin: 2px;
  background-color: #e00;
  display: table-cell;
}

#errorExplanation {
  border: 2px solid #a00;
  padding: 7px;
  padding-bottom: 3px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

img#logo {
  position: absolute;
  top: 11px;
  left: 10px;
}

#container {
  border: solid #d1d1d1;
  border-width: 0 1px;
  background: white;
  margin: 0 auto;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

div#footer {
  background: #e5e5e5;
  margin: 0 auto;
  padding: 10px;
  border: solid #d1d1d1 4px;
  border-left: none;
  border-right: none;
  text-align: center;
  float: none;
  color: #555;
}

div#footer p {
  margin: 0;
}

#topnav {
  list-style: none;
  margin: 0;
  padding: 0; /*Push-10*/
  margin-left: 400px;
  font-size: 1.25em;
  width: 550px;
}

ul#topnav li {
  text-align: left;
  float: left;
  height: 25px;
  margin: 0;
  margin-top: 35px;
  padding: 0;
  border-left: solid #505050 1px;
}

ul#topnav li a {
  display: block; /* width: 63px;*/
  margin: 0 10px 0 7px;
  vertical-align: super;
  text-decoration: none;
  color: #444;
}

ul#topnav li:hover {
/*text-decoration: underline;*/
  color: #000;
  background-image: url(/images/topnavback.png);
}

/*  .column div { margin:10px; }*/
#login_links {
  position: absolute;
  right: 10px;
  text-align: right;
  background: white;
}

#info {
  font-size: 100%;
}

#info dd {
  float: left;
  margin-left: 0;
  width: 390px;
  margin-bottom: 5px;
  padding: 3px 0;
}

#info dt {
  float: left;
  margin-right: 10px;
  width: 250px;
  padding: 3px 0;
}

.controls {
  float: right;
  margin-left: 3px;
  margin-right: 3px;
}

.separator {
  background: #066;
  font-weight: bold;
  text-align: center;
  font-size: 13px;
  color: white;
  border-width: 0;
  border-top: 15px solid #fff;
}

.num {
  text-align: right;
}

.save {
  width: 50%;
  margin: 0 auto;
}

.save .inner {
  padding: 10px;
  color: #000;
  font-weight: bold;
  font-size: 10pt;
}

div.payment {
  font-size: 12pt; 
  margin-top: 20px;
  float: right;
}

table.print td {
  height: 40px;
  font-size: 12pt;
}

div.total {
  margin: 10px;
  border: 2px solid #000;
  padding: 10px;
}

div.total p {
  font-weight: bold;
  font-size: 15pt;
  margin: 0;
  padding: 0;
}

div.sum {
  background: #ccc;
  border: 3px solid #555;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100px;
  float: right;
}

div#school-info {
  margin-bottom: 10px;
}

.login {
  width: 350px;
  margin: 0 auto;
}

.outer {
  background: #ddd none repeat scroll 0 0;
  padding: 0;
}

.inner {
  padding: 4px;
  background: white;
  margin: 0;
}

#exhibition {
  padding-top: 12px;
  border-bottom: 1px solid #ccc;
  margin: 5px 0;
}

#exhibition h3 {
  font-weight: bold;
  text-align: center
}

tr.odd:hover td {
  background: #fafab6;
}

tr.even:hover td {
  background: #ceddf6;
}

.tcenter {
  text-align: center;
}
