caption {
  background: #066;
  color: #fff;
  padding-left: 5px;
  font-weight: bold;
}

table {
  margin-bottom: 1em;
  width: 100%;
  border-width: 0;
  border-bottom: 1px solid #066;
  padding: 0;
  border-collapse: collapse;
}

th {
  font-weight: bold;
  background: #C3D9FF;
}
th, td {
  padding: 4px 10px 4px 5px;
  border: 2px solid #066;
}
tr:nth-child(even) td {
  background:#E5ECF9;
}
tr:nth-child(odd) td {
  background: #ffc
}
