<fieldset>
  <legend>Categories</legend>
  <ul>
    <li><%= link_to 'Your School Results', school_results_path %></li>
    <li><%= link_to 'Sweepstakes Results', sweepstakes_results_path %></li>
    <li><%= link_to 'Individual Results', individual_results_path %></li>
  </ul>
</fieldset>
