<div id="students" class="span-8 colborder">
  <h4>Students</h4>
  <ul>
    <% @students.each do |student| %>
      <li><%= link_to h(student.name), grading_team_student_path(student.team) + "?" + {:q => student.name}.to_query %></li>
    <% end %>
  </ul>
</div>
<div id="teams" class="span-8 last">
  <h4>Teams</h4>
  <ul>
    <% @teams.each do |team| %>
      <li><%= link_to team_name(team), grading_team_path(team.level) + "?" + {:q => team_name(team)}.to_query %> - <%= team.level %></li>
    <% end %>
  </ul>
</div>
