<tr class="student">
  <td><%= f.text_field :first_name, :size => 10 %></td>
  <td><%= f.text_field :last_name, :size => 10 %></td>
  <td><%= f.hidden_field :_delete %><%= remove_link 'remove', '.student' %></td>
</tr>
