<%- content_for :sidebar do -%>
  <%= render :partial => 'schools/sidebar' %>
<%- end -%>

<h2>Create a school</h2>
<%- form_for @school, :url => schools_path, :html => {:method => :post} do |f| -%>

  <%= render :partial => 'schools/form', :locals => {:f => f} %>

  <p>
    <%= f.submit "Register School" %>
  </p>
<%- end -%>
<br />
<%= link_to 'Back Home', root_path %>
