<% flash.each do |name, msg| %>
  <%= content_tag :div, :class => "flash #{name}" do %>
    <%= msg %>
    <%= link_to '[hide]', "$(this).parents('.flash').fadeOut('fast')" %>
  <% end %>
<% end %>

<noscript>
  <p>
    Unfortunately your browser does not have JavaScript capabilities which are required to exploit full functionality of
    our site. This could be the result of two possible scenarios:
  </p>
  <ol>
    <li>You are using an old web browser, in which case you should upgrade it to a newer version. We recommend the
      latest version of <a href="http://www.getfirefox.com/">Firefox</a>.
    </li>
    <li>You have disabled JavaScript in you browser, in which case you will have to enable it to properly use our site.
      <a href="http://www.google.com/support/bin/answer.py?answer=23852">Information on enabling JavaScript</a>.
    </li>
  </ol>
</noscript>
