<h5>Information</h5>
<p>
The Golden Circle 9th Grade Math Championships will be held Tuesday, March 3, 2009 at Central Campus. Bus parking is one block west of 1920 Grand Ave. Car parking is in the lot at the corner of 19th and Grand (directly north of the school). To register a team, create the team on this website and then edit the required information.<br />
<%= link_to 'More information...', '/golden_circle_information.pdf' %> [pdf]
</p>

<hr />

<h5>Registration Deadline</h5>
<h6>Tuesday, January 27</h6>

<hr />

<% if @team %>
<h5>Roster Changes:</h5>
<p>
If you have roster changes on or before Tuesday, January 27 simply edit your team page. After January 27, please bring the changes to the registration table the night of the event. Please do not contact us about changes after January 27.
</p>
<% end %>