<div class="header">
  <a href="/"><%= image_tag "logo.png", :id=>"logo", :alt=>"Golden Circle" %></a>
  <%= render :partial => 'layouts/login_links' %>
  <%= render :partial => 'layouts/topnav' %>
</div>
